[VALIDATOR]
BASE_TEST_R = /home/mirco/gits/r_validator/tools/test.R
BASE_TEST_CALL = /home/mirco/gits/r_validator/tools/test_safe_call.R
TASK_DB = /home/mirco/gits/r_validator/task_db.tsv
R_TESTS_SOURCEDIR = /home/mirco/gits/r_validator/tests
R_TESTS_SOLUTIONDIR = /home/mirco/gits/r_validator/solutions
R_TASKS_DESCRDIR = /home/mirco/gits/r_validator/tasks
